<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an item</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <form action="/users/<%= user.id %>/foods/<%= item.id %>/edit?_method=PUT" method="POST">
        <label for="item">Item:</label>
        <input type="text" name="name" value="<%= item.name %>" autocomplete="off">

        <button type="submit">Add to pantry</button>
    </form>
</body>
</html>