<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <%- include('../partials/_navbar.ejs') %>
  <body>
    <h1>Welcome to my Pantry</h1>
    <% if (pantry.length > 0) { %>
        <ol>
            <% pantry.forEach((item) => { %>
            <li><%= item.name %></li>
            <% }) %>
        </ol>
    <% } else { %>
        <p>There are no items in your pantry.</p>
    <% } %>
    <a href="/users/:userId/foods/new">Add New Item</a>
  </body>
</html>
